div{
    text-align: center;
}

h1{
    font-family: verdana;
}

.botao{
    cursor: pointer;
    user-select: none;
    border: 1px solid black;
    height: 50px;
    width: 120px;
}

.botao:hover{
    background-color: antiquewhite;
    transition: 1s;
}

.botao:active{
    background-color: gray;
    transition: 0s;
}