div{
    text-align: center;
}

h1{
    font-family: verdana;
}

#botao{
    height: 50px;
    width: 150px;
    border: 1px solid black;
    user-select: none;
    cursor: pointer;
    font-family: verdana;
}

#botao:hover{
    background-color: antiquewhite;
    transition: 1s;
}

#botao:active{
    background-color: gray;
    transition: 0s;
}
