#div1{
    text-align: center;
}

#div2{
    position: relative;
    left: 40%;
}

h1{
    font-family: verdana;
}

#botao{
    font-family: verdana;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    user-select: none;
    cursor: pointer;
}

#botao:hover{
    background-color: antiquewhite;
    transition: 1s;
}

#botao:active{
    background-color: gray;
    transition: 0s;
}

#resultado{
    font-size: large;
}

table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
    width: 20%;
    margin: 0;
    text-align: center;
}

#mark1{
    background-color: rgb(166, 245, 166);
    opacity: 0.8;
}

#mark2{
    background-color: rgb(233, 233, 152);
    opacity: 0.8;
}

#mark3{
    background-color: rgb(212, 90, 90);
    opacity: 0.8;
}